#airCon {
    margin: auto;
    /* display: inline-block; */
    position: relative;
    background-image: url("../images/AC.PNG");
    height: 120px;
    width: 100%;
    max-width: 400px;
    color: teal;
    font-weight: 550;
    background-size: contain;
    background-repeat: no-repeat;
}

.air-con-content {
    /* font-size: ; */
    position: absolute;
    right: 40%;
    bottom: 40%;
}
.icon{
    display: inline-block;
    height: 20px;
    width: 20px;
}